@model IEnumerable<Garage2._0.Models.ViewModels.MembersViewModel>

@{
    ViewData["Title"] = "Members";
}


<h1 class="heads">Overview of existing members</h1>
<form>
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" name="pnr" placeholder="Search by Social Security Number ..." />
        
        <div class="input-group-append">
            <button asp-action="Filter" asp-controller="Members" type="submit" class="btn btn-primary ms-2"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
         
    
    </div>
</form>
<p>
    <a asp-action="Create" class="btn2 btn-success me-2 " style="font-weight:bold " >Create New Member</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPerNr)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.VehiclesCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPerNr)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.VehiclesCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-success btn-sm">Edit</a> |
                    <a asp-action="IndexDetails" asp-route-id="@item.Id"class="btn btn-success btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
